In [51]:
import pandas as pd
import numpy as np

df = pd.read_csv("PastHires.csv")
df.head()
# Loading the file and showing the first rows of it

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N

In [52]:
df.head(10)
# Shows the first 10 rows of the DataFrame

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N
5,0,N,0,PhD,Y,Y,Y
6,5,Y,2,MS,N,Y,Y
7,3,N,1,BS,N,Y,Y
8,15,Y,5,BS,N,N,Y
9,0,N,0,BS,N,N,N

In [53]:
df.tail(4)
# Shows the end of the DataFrame

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
9,0,N,0,BS,N,N,N
10,1,N,1,PhD,Y,N,N
11,4,Y,1,BS,N,Y,Y
12,0,N,0,PhD,Y,N,Y

In [54]:
df.shape
# Show (columns, rows)

(13, 7)

In [55]:
df.size
# rows * columns of the DataFrame

91

In [56]:
len(df)
# Number of rows in a DataFrame

13

In [57]:
df.columns
# Shows the name of the columns

Index(['Years Experience', 'Employed?', 'Previous employers',
       'Level of Education', 'Top-tier school', 'Interned', 'Hired'],
      dtype='object')

In [58]:
df['Hired']
# Shows the selected column of the DataFrame, which is a "Series" in Pandas

0     Y
1     Y
2     N
3     Y
4     N
5     Y
6     Y
7     Y
8     Y
9     N
10    N
11    Y
12    Y
Name: Hired, dtype: object

In [59]:
df['Hired'][:5]
# Shows a range of rows

0    Y
1    Y
2    N
3    Y
4    N
Name: Hired, dtype: object

In [60]:
df['Hired'][5]
# Shows a specific row

'Y'